# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/


# Vagrant local state / Estado local de Vagrant
.vagrant/

# Logs and temporary files / Logs y archivos temporales
*.log
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#MinIO
minio-s3/backups/
