# --- System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Secrets & Environment (CRITICAL) ---
.env
*.env
.ssh/id_ed25519_ansible*

# --- Infrastructure & Vagrant ---
.vagrant/
*.log

# --- Language Specifics ---
__pycache__/
*.py[cod]
.venv/
venv/
node_modules/

# --- Storage & Backups ---
minio-s3/backups/